@media only screen and (max-width: 600px) {
  /* NAVBAR */

  body {
    width: 100%;
  }

  nav {
    width: 100%;
  }

  nav a {
    display: flex;
    margin: 0 auto;
  }

  nav ul {
    display: none;
  }

  div#nav-social {
    display: none;
  }

  /* BANNER */

  section#banner {
    width: 100%;
  }

  div#banner-container {
    width: 85%;
  }

  div#banner-container p {
    width: 70%;
  }

  div#banner-container button {
    width: 70%;
  }

  /* PRODUCTS */

  div#products-title p {
    width: 70%;
  }
  div#products-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  div.product {
    width: 20em;
    height: 80%;
  }

  /* BENEFITS */

  section#benefits {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em 0;
  }

  div#benefits-txt {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  div#benefits-txt h3 {
    font-size: 2rem;
  }

  div#benefits-txt p {
    font-size: 0.9rem;
  }

  div#benefits-txt ul {
    width: 90%;
  }

  div#benefits-txt button {
     display: none;
  }

  #photo-discovery {
    width: 18em;
  }

  /* POPULAR */

  section#popular {
    width: 100%;
  }

  div#popular-txt p {
    width: 70%;
  }

  div#popular-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* FOOTER */

  footer {
    display: none;
  }
}
