@media screen and (min-width: 2000px) {
    #left-side img {
        width: 700px;
    }

    section#right-side {
        width: 900px;
    }

    div#line-2 {
        justify-content: flex-start;
        gap: 13.5rem;
    }
    div#line-1 {
        justify-content: flex-start;
        gap: 13.5rem;
        width: 100%;
    }

    section#right-side h1 {
        font-size: 2.5rem;
    }

    #botao-container {
        justify-content: center;
    }

    div#line-1 div label {
        font-size: 1.5rem;
    }

    div#subscribe-txt p {
        font-size: 1rem;
    }

    nav {
        height: 6rem;
    }
    .logo-img {
        width: 150px;
    }

    nav ul li {
        font-size: 1.5rem;
    }

}
